<% if user_signed_in? %>
  <div class="panel panel-primary">
    <%= form_with model: @new_conversation, scope: :conversation, remote: true, url: conversations_path, html: { class: 'message-form' } do |f| %>
      <%= render partial: 'new_message', locals: {css_class: 'new-conversation-editable' } %>
      <%= f.text_area :body, class: 'hidden new-message-body' %>
      <div class="panel-footer clearfix">
        <%= f.submit('Post', class: 'btn btn-success pull-right', id: 'new-message-submit') %>
      </div>
    <% end %>
  </div>
<% end %>
