<div class="panel-body">
  <div contenteditable="true"
       class="editable-body <%= css_class %>"
       role="textbox"
       tabindex="0"
       autocomplete="off"
       autocorrect="off"
       spellcheck="true"
       aria-multiline="true"
       aria-haspopup="true"
       aria-label="Write something..."
       placeholder="Write something..."></div>
</div>
