<div class="row-fluid">
  <%=
    react_component(
      'conversation_list',
      conversations: ActiveModelSerializers::SerializableResource.new(@conversations),
      new_conversation_form: render(partial: 'new_conversation')
    )
  %>

  <% if @conversations.blank? && !user_signed_in? %>
    <p>
      No conversations exist yet - <%= link_to 'sign up', new_user_registration_path %>
      or <%= link_to 'login', new_user_session_path %> and create the first one!
    </p>
  <% end %>
</div>
